*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;

}
*:-moz-placeholder {
	color: #666;
	opacity: 1;

}
*::-moz-placeholder {
	color: #666;
	opacity: 1;

}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}


body input:focus:required:invalid,
body textarea:focus:required:invalid {
	

}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;

}
.hidden {
	display: none;

}
.carousel img {
	width: 100%;
	height: auto;

}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;

}
header {
	background-image: url(..//img/Слой\ 1.png);
	background-repeat: repeat-x;
	background-position: top center;
	position: relative;
	min-height: 700px;
	font-size: "BebasRegular";
}
 header a{
	 color: #fff;
 }
.top_line {
	min-height: 97px;
	-webkit-box-shadow: rgba(255, 255, 255,.3) 0 0 0 1px;
	box-shadow: rgba(255, 255, 255,.3)0 0 0 1px;
	width: 100%;
	background-color: rgba(0,0,0,.6);
	padding: 22px 0;
}
 .top_line a{
	font-size: 21px;
	border-bottom: #fff dashed 1px;
	transform: ;
}
.top_line a:hover{
	border-bottom: transparent 1px dashed;
}
.top_addr {
	padding-left: 60px;
	background-image: url(../img/topwe.png);
	background-repeat: no-repeat;
	background-position: top left;
	font-family: "Bebasbold";
	line-height: 39px;
	padding-left: 60px;
	
}

.top_addr strong {
	color: #d12f22;
	display: block;
	font-weight: normal;
	text-transform: uppercase;
	font-weight: normal;
	font-family: "BebasRegular";
	font-size: 32px;
}
.top_addr a{
	font-size: 21px;
	border-bottom: #fff dashed 1px;
	
}
.top_line .logo{
	border-bottom: none;
	position: absolute;
	margin-top: -18px;
	text-align: center;
}
.top_line .logo:hover {
	border-bottom: none;
}
.logo_wrap {
	margin: auto;
	position: relative;
	width: 240px;
	
}
.ta_right {
	background-image: none;
	padding-left: 0;
	text-align: right;
}
.ta_right span {
	color: #fff;
}
 header h1 {
	text-align: center;
	color: #fff;
	margin-top: 65px;
	text-shadow: 0 3px rgba(0, 0, 0, 0.55);

}
.button {
	background-color: #d12f22;
	display: inline-block;
	font-size: 20px;
	height: 55px;
	line-height: 50px;
	padding: 0 25px;
	vertical-align: middle;
	border-bottom: #AC160A 5px solid;
}
.button:hover {
	background-color: #e64437;
}
.button:active {
	background-color: #b81609;
}
header .button {
	margin-right: 18px;
}
.st_button {
	background-image: url(../img/Слой\ c\ gb\ .png);
	background-position: 8px 8px;
	background-repeat: no-repeat;
	line-height: 20px;
	padding-left: 67px;
	padding-top: 7px;
	text-align: left;
}
.buttons_top {
	bottom: 32px;
	position: absolute;
	width: 100%;
}
nav {
	height: 62px;
	background-color: #242424;
	-webkit-box-shadow: rgba(255, 255, 255,.3) 0 0 0 1px;
	box-shadow: rgba(255, 255, 255,.3)0 0 0 1px;
	text-transform: uppercase;
	
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #fff;
	font-family:  "bebasregular";
	font-size: 20px;
	display: block;
	line-height: 62px;
}
.top_mnu li {
	display: inline-block;

}
.a {
	padding: 0 26px 40px;
	border-left: 1px solid #383838;
}
.list a {
	padding: 19px;
}


.main_cats {
	background-color: #191919;
	padding: 40px 0 32px;
}
.main_cats h2{
	text-transform: uppercase;
	color: #c9c9c9;
	font-family: "BebasRegular";
	font-size: 40px;
	text-align: center;
}
.main_cats h2 strong {
	color: #fff;

}
.main_cats h2 span {
	color: #d12f22;
	
}